<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://zadanie1azfuncyevheniiskakun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50976d0e-4753-4679-92e9-c23ea44fc4ec/resourceGroups/ZadanieKoncoweADAYS/providers/Microsoft.Web/sites/zadanie1AzFuncyevheniiskakun</ResourceId>
    <UserName>$zadanie1AzFuncyevheniiskakun</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://zadanie1azfuncyevheniiskakun.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>